.container {
  max-width: 600px;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  line-height: 1.2;
  padding-bottom: 15px;
}

.container input {
  max-width: 100px;
}


.selectComputer {
  display: inline-block;
  width: 25ch;
  max-width: 400px;
  min-width: 200px;
}

.selectPlace {
  display: inline-block;
  width: 20ch;
  max-width: 400px;
  min-width: 100px;
}

.selectUnit {
  display: inline-block;
  width: 10ch;
  max-width: 400px;
  min-width: 100px;
}

.result {
  color: red;
  font-size: x-large;
  font-style: bold;
  white-space: nowrap;
}

.sources {
  font-size: small;
}