.container {
  max-width: 600px;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  line-height: 1.2;
  padding-bottom: 15px;
  font-family: 'Questrial', sans-serif;
  font-size: 11pt;
}

.container input {
  max-width: 85px;
}

.selectComputer {
  display: inline-block;
  width: 30ch;
  max-width: 400px;
  min-width: 200px;
}

.selectPlace {
  display: inline-block;
  width: 22ch;
  max-width: 400px;
  min-width: 100px;
}

.selectUnit {
  display: inline-block;
  width: 12ch;
  max-width: 400px;
  min-width: 100px;
}

.result {
  color: red;
  font-size: 20pt;
  font-style: bold;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.sources {
  font-size: 8pt;
}